<p>AY 90 REACTIVO</p>
<form [formGroup]="formAlumno" (ngSubmit)="submit()">
    <p>Dni:
        <input type="text" formControlName="dni">
    </p>
    <p>Nombre:
        <input type="text" formControlName="nombre">
    </p>
    <div formGroupName="notas">
        <p>Primer nota:
            <input type="text" formControlName="nota1">
        </p>
        <p>Segunda nota:
            <input type="text" formControlName="nota2">
        </p>
        <p>Tercer nota:
            <input type="text" formControlName="nota3">
        </p>
    </div>
    <p><button type="submit">Confirmar</button></p>
</form>
<div>
    <p>Resultado:{{resultado}}</p>
</div>
<p>component alumno</p>
<br>
<div>
    <h1>Datos del alumno</h1>
    <p>Dni: {{alumno.dni}}</p>
    <p>Nombre: {{alumno.nombre}}</p>
    <p>Nota1: {{alumno.nota1}}</p>
    <p>Nota2: {{alumno.nota2}}</p>
    <p>Nota3: {{alumno.nota3}}</p>

</div>
