<p> Actividad:
  <input type="text" [formControl]="actividad"><!--Este atributo 'actividad' se asocia con la vista mediante la sintaxis:-->
</p>
<p><button (click)="agregar()">Agregar</button></p>
<!--Nuestro problema requiere almacenar cada una de las actividades en un arreglo que se pasa a mostrar en la vista mediante la directiva estructural *ngFor:-->
<ol>
  <li *ngFor="let acti of lista;let i=index">
    {{acti}} <a (click)="borrar(i)" href="#">Borra?</a>
  </li>
</ol>
<p><button (click)="borrarTodas()">Borrar todas las actividades</button></p>
<br>
<p>AY 88</p>
<form [formGroup]="formularioContacto" (ngSubmit)="submit2()">
  <p>Nombre:
    <input type="text" formControlName="nombre">
  </p>
  <p>Mail:
    <input type="text" formControlName="mail">
  </p>
  <p>Mensaje<br>
    <textarea rows="10" cols="70" formControlName="mensaje"></textarea>
  </p>
  <button type="submit">Confirmar</button>
</form>
<div>{{datos}}</div>
<br>
<p>AY 89</p>
<form [formGroup]="formularioConversion" (ngSubmit)="submit2()">
  <p>Ingrese número decimal:
    <input type="text" formControlName="numerodecimal">
  </p>
  <p>Convertir a:<br>
    <input type="radio" formControlName="base" value="octal">Octal
    <input type="radio" formControlName="base" value="hexadecimal">Hexadecimal
  </p>
  <p>Elevar a:<br>
    <select formControlName="potencia">
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </p>  
  <p><input type="checkbox" formControlName="largo">Mostrar cantidad de dígitos
  </p>
  <p><button type="submit">Confirmar</button></p>
</form>
<div>
  <p>Conversion:{{conversion}}</p>
  <p>Potencia:{{potenciaNumero}}</p>
  <p>Cantidad de dígitos:{{cantidad}}</p>  
</div>
<br>
<!--
<p>AY 90</p>
<form [formGroup]="formAlumno" (ngSubmit)="submit()">
  <p>Dni:-->
    <!--<input type="text" formControlName="dni">
    <input type="text" formControlName="alumno.dni">
  </p>
  <p>Nombre:
    <input type="text" formControlName="nombre">
  </p>
  <div formGroupName="notas">
    <p>Primer nota:
      <input type="text" formControlName="nota1">
    </p>
    <p>Segunda nota:
      <input type="text" formControlName="nota2">
    </p>
    <p>Tercer nota:
      <input type="text" formControlName="nota3">
    </p>
  </div>
  <p><button type="submit">Confirmar</button></p>
</form>
<div>
  <p>Resultado:{{resultado}}</p>
</div>
<p>component alumno</p>
<br>
<div>
  <h1>Datos del alumno</h1>
  <p>Dni: {{alumno.dni}}</p>
  <p>Nombre: {{alumno.nombre}}</p>
  <p>Nota1: {{alumno.nota1}}</p>
  <p>Nota2: {{alumno.nota2}}</p>
  <p>Nota3: {{alumno.nota3}}</p>

</div>-->
<!--
<app-alta-alumno></app-alta-alumno>-->
<div>
  <nav>
    <a routerLink="/alta-alumnos">Alta alumnos</a>
    <a routerLink="/lista-alumnos">Lista alumnos</a>
    <!--<a routerLink="/lista-alumnos" routerLinkActive="active">Lista alumnos</a>-->
  </nav>
  <router-outlet></router-outlet>
</div>
