<!--
<div>
    <p>Resultado:{{resultado}}</p>
</div>
<p>component alumno</p>
<br>
<div>
    <h1>Datos del alumno</h1>
    <p>Dni: {{alumno.dni}}</p>
    <p>Nombre: {{alumno.nombre}}</p>
    <p>Nota1: {{alumno.nota1}}</p>
    <p>Nota2: {{alumno.nota2}}</p>
    <p>Nota3: {{alumno.nota3}}</p>

</div>-->

<h2>Listado Alumnos</h2>
<ul class="alumnos">
  <li *ngFor="let itemAlumno of alumnos">
    <a routerLink="/detalle-alumno/{{itemAlumno.dni}}">
      <!--<span class="badge">{{alumno.dni}}</span> {{alumno.nombre}}-->
      <span class="badge">{{itemAlumno.dni}}</span> {{itemAlumno.nombre}}
    </a>
  </li>
</ul>
<!--<app-detalle-alumno></app-detalle-alumno>
<app-detalle-alumno [alumno]="alumnoSeleccionado"></app-detalle-alumno>-->

<!--
<div *ngIf="! alumnos.length">No hay alumnos por el momento</div>
<div>-->
    <!--NECESITA UN ANCLA APRA TENER EL DNI DEL CLIENTE ACTUAL
  <article *ngFor="let alumno of alumnos">
    <span>Dni: {{alumno.dni}}</span>
    <span>Nombre: {{alumno.nombre}}</span>
    <span>Nota2: {{alumno.nota1}}</span>
    <span>Nota1: {{alumno.nota2}}</span>
    <span>Nota3: {{alumno.nota3}}</span>
  </article>
</div>-->

